# **Dictionary to DataFrame**

**Exercise 1**

In [12]:
#Pre-defined lists

names = ['United States', 'Australia','Japan', 'India', 'Russia', 'Morocco','Egypt']
dr = [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

In [5]:
# Import pandas as pd

import pandas as pd

In [6]:
#Create dictionary my_dict with three key: value, pairs: my_dict

#key -> country -> names (value)
#key -> 'drive_right -> dr (value)
#key -> cars_per_cap -> cpc (value)

my_dict = {'country': names, 'drive_right': dr, 'cars_per_cap': cpc}

In [ ]:
#Build a DataFrame cars from my_dict: cars
#Use pd.DataFrame to turn your dict into a DataFrame called cars

cars = pd.DataFrame(my_dict)

In [13]:

#Print cars
print(cars)

         country  drive_right  cars_per_cap
0  United States         True           809
1      Australia        False           731
2          Japan        False           588
3          India        False            18
4         Russia         True           200
5        Morocco         True            70
6          Egypt         True            45

**Exercise 2**

Insert index for each state

In [16]:
#Definition of row_labels

row_labels = ['US','AUS','JPN','IN','RU','MOR','EG']

In [17]:
#Specify row labels of cars
cars.index = row_labels

In [18]:
#Print cars
print(cars)

           country  drive_right  cars_per_cap
US   United States         True           809
AUS      Australia        False           731
JPN          Japan        False           588
IN           India        False            18
RU          Russia         True           200
MOR        Morocco         True            70
EG           Egypt         True            45

**Exercise 3**

CSV to DataFrame -> Putting data in a dictionary and building a DataFrame is not very efficient, if you do a lot of observations. In this case the data is available as files, one of those file types is the CSV(comma-separated values). To import CSV data as Pandas DataFrame, use variable =pd.read_csv()

In [ ]:
# In this case Pandas has already been imported before, pd

In [ ]:
#Import the cars.csv data: cars

cars = pd.read_csv('cars.csv')  #say if is csv, excel, etc

In [20]:
#Print out cars
print(cars)

           country  drive_right  cars_per_cap
US   United States         True           809
AUS      Australia        False           731
JPN          Japan        False           588
IN           India        False            18
RU          Russia         True           200
MOR        Morocco         True            70
EG           Egypt         True            45

**Execise 4**

The output of CSV is not entirely what we wanted. Use index_col  inside pd.read_csv() to specify which column in the CVS file should be used as a row label

```

```

In [ ]:
#Fix import by including index_col
#first column should actually be used as row labels, set it 0(first column)

cars = pd.read_csv('cars.csv', index_col=0)

In [27]:
#Print out cars
print(cars)

           country  drive_right  cars_per_cap
US   United States         True           809
AUS      Australia        False           731
JPN          Japan        False           588
IN           India        False            18
RU          Russia         True           200
MOR        Morocco         True            70
EG           Egypt         True            45